:root {
    font-family: Montserrat, sans-serif;
}

.footer{
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 209px;
    width:100%;
    max-width: 1440px;

    &-text {
        color: white;
        padding-top: 25px;
        margin-bottom: 20px;
    }
}
